body{
    margin: 0%;
    background-color: #d6c0a8;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #bd9a73;
    color: white;
    height: 46px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

@media screen and (min-width: 600px) {
    #header-placeholder {
        display: block;
    }
}

#header-placeholder{
    height: 70px;
    display: none;
}

header img {
    height: 50px;
    margin-right: auto;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: rgb(58, 55, 55);
    text-decoration: none;
    padding: 0 80px;
    font-size: 16pt;
    font-family:'Monstserrat', sans-serif;
    transition: box-shadow 0.3s ease;
}

.headli :hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

nav ul li img {
    width: 40px;
    height: 40px;
    margin-right: auto;
}

.contact{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
    color: rgb(65, 62, 62);
    font-family: 'josefin sans', sans-serif;
    font-size: 17pt;
}

.Formulario .contact p{
    margin: 0;
    padding-top: 35px;
}

.Formulario{
    display: flex;
    padding-bottom: 100px;
}
.Formulario .map div{
    width: fit-content;
    padding-left: 200px;
    padding-top: 150px;
}


.Formulario .map{
    width: 100%;
}

.Formulario .contact input{
    width: 300px;
    height: 30px;
    font-size: 12pt;
}

.Formulario .contact .mensaje{
    width: 300px;
    height: 100px;
    font-size: 12pt;
}

.Formulario .contact button{
    width: 100px;
    height: 40px;
    font-size: 12pt;
    background-color: #bd9a73;
    border:none;
    color: white;
    cursor: pointer;
}


.contactanos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    color: rgb(65, 62, 62);
    font-family: 'josefin sans', sans-serif;
    font-size: 17pt;
    background-image: url(../../IMG/Ba.png);
    background-size: cover;
    padding-bottom: 170px;
    color: white;
}