body{
    margin:0;
    background-color: #ceb396;
    font-family: 'josefin sans', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #bd9a73;
    color: white;
    height: 46px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

@media screen and (min-width: 600px) {
    #header-placeholder {
        display: block;
    }
}

#header-placeholder{
    height: 70px;
    display: none;
}

header img {
    height: 50px;
    margin-right: auto;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: rgb(58, 55, 55);
    text-decoration: none;
    padding: 0 80px;
    font-size: 16pt;
    font-family:'Monstserrat', sans-serif;
    transition: box-shadow 0.3s ease;
}

.headli :hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

nav ul li img {
    width: 40px;
    height: 40px;
    margin-right: auto;
}

.welcome h1 {
    text-align: center;    
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40pt;
    padding-top: 130px;
    margin: 0%;
}

.subtitle{
    margin: 0%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif ;
    font-size: 20pt;
    padding:0 150px;
}

.testimonios .testimonio1{
    width: 70px;
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.testimonios .testimonio2{
    width: 70px;
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.testimonios .testimonio3{
    width: 70px;
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.testimonios{
    padding-top: 100px;
}

.testimonios table{
    margin: auto;
    width: 85%;
    text-align: center;
    border-collapse: collapse;
    font-weight: bold;
}

.testimonios table tr{
    border: 1px solid #725f49;
}

.testimonios table tr td{
    border-left:70px solid #ceb396;
    border-right:70px solid #ceb396;
}

.sub_boton{
    text-align: center;
    padding-top: 50px;
}

.btnc_antes {
    padding: 10px 25px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    text-decoration: none;
}  
.btnc_despues {
    border: 2px solid #bd9a73;
    z-index: 1;
    color: rgb(58, 55, 55);
}

.btnc_despues:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #bd9a73;
    transition: all 0.3s ease;
}

.btnc_despues:hover {
    color: #ffffff;
}

.btnc_despues:hover:after {
    top: 0;
    height: 100%;
}

.btnc_despues:active {
    top: 2px;
}

.sub_boton p{
    font-size: 18pt;
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px;
    font-weight: bold;
}

.sub_boton .conocenos{
    padding-left: 137px;
}

main{
    padding-bottom: 50px;
}

footer{
    background-color: #bd9a73;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    height: 80px;
    display: flex;
    align-items: center;
}

.footer div{
    padding-top: 5%;
}

.TC{
    white-space: nowrap;
    font-size: 10pt;
    padding: 0;
}